.header-menu{
  margin: 0;
  padding: 0;
  background: none;
  width: 101%;
  margin-left: -1%;
  height: 8em;
  -webkit-margin: 0;
  -webkit-padding: 0;
  -webkit-background: none;
  -webkit-width: 101%;
  -webkit-margin-left: -1%;
  -webkit-height: 8em;
}
.contain-header{
  width: 100%;
  height: 60%;
  align-items:center;
}
.header-logo{
  padding: 0.7%;
  margin-left: 3%;
  width: 15%;
  height: 4em;
}
.contain-header-menu{
  margin: 0;
  padding: 0;
  width: 101%;
  margin-left: -1%;
  height: 40%;
  display: inline-flex;
  background: #323232;
}
.div-header-menu{
  display: inline-flex;
  width: 65%;
  height: 100%;
  margin-left: 5%;
  text-decoration: none;
}
.lien-menu{
  height: auto;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-family: 'Roboto',sans-serif;
  transition: .5s;
}
.lien-menu:hover{
  background-color: orangered;
  color: #fff;
}
.lien-menu-social{
  font-family: Heydings Common Icons;
  color: #fff;
  font-size: 20px;
}
.menu-recherche{
  width: 25%;
  height: 90%;
  display: inline-flex;
  text-align: center;
  border: 0px;
  background: none;
}
.menu-recherche input{
  margin-left: auto;
  height: 100%;
  width: 100%;
  background:none;
  color: #fff;
  border: none;
}
/***************************nnnnnnnnnnnnn   I  nnnnnnnnn*********************/
/***************************nnnnnnnnnnnnn   N  nnnnnnnn*********************/
/***************************nnnnnnnnnnnnn   D  nnnnnnnn*********************/
/***************************nnnnnnnnnnnnn   E  nnnnnnnn*********************/
/***************************nnnnnnnnnnnnn   X  nnnnnnnn*********************/
.body-titre{
  margin: 0;
  padding: 0;
  background: none;
  width: 101%;
  height: 3em;
  margin-left: -1%;
  -webkit-margin: 0;
  -webkit-padding: 0;
  -webkit-background: none;
  -webkit-width: 101%;
  -webkit-height: 3em;
  -webkit-margin-left: -1%;
}
.div-body-tire{
  margin-left: 5%;
  width: 26%;
  padding: 12px 0px;
  height: auto;
  background: orangered;
  text-align: center;
  -webkit-margin-left: 5%;
  -webkit-width: 26%;
  -webkit-padding: 12px 0px;
  -webkit-height: auto;
  -webkit-background: orangered;
  -webkit-text-align: center;
  color: #fff;
  font-weight: bolder;
  font-size: 18.7px;
}
.contain-body-article{
  margin: 0;
  padding: 0;
  background: none;
  width: 101%;
  height: 90vh;
  margin-left: -1%;
  display: inline-flex;
  -webkit-margin: 0;
  -webkit-padding: 0;
  -webkit-background: none;
  -webkit-width: 101%;
  -webkit-height: 90vh;
  -webkit-margin-left: -1%;
  -webkit-display: inline-flex;
}
.body-article{
  margin-left: auto;
  width: 70%;
  height: 80vh;
  display: inline-flex;
  -webkit-margin-left: auto;
  -webkit-width: 70%;
  -webkit-height: 80vh;
  -webkit-display: inline-flex;
}
.body-article .body-article-first{
  margin-left:7%;
  height: 100%;
  width: 45% !important;
  z-index:10;
  -webkit-margin-left: 1%;
  -webkit-height: 100%;
  -webkit-width: 45% !important;
  -webkit-z-index:10;
}
.body-article .body-article-second{
  margin-left: 1%;
  height: 100%;
  width: 45% !important;
  z-index:10;
  -webkit-margin-left: 1%;
  -webkit-height: 100%;
  -webkit-width: 45% !important;
  -webkit-z-index:10;
}

.body-article-first, .body-article-second{
  transition:all .5s;
  -webkit-transition:all .5s;
}
.body-article-first:hover, .body-article-second:hover{
  animation: none;
  transform: translateY(-15px);
  box-shadow: 0 50px 50px rgba(0,0,0,0.5);
  -webkit-animation: none;
  -webkit-transform: translateY(-15px);
  -webkit-box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}
.div-article-titre{
    position: relative;
    bottom: calc(100% - 70%);
    opacity: 0;
    color: #fff;
    background: none;
    width: 100%;
    height: 1em;
    transition: all .7s;
    -webkit-position: relative;
    -webkit-bottom: calc(100% - 70%);
    -webkit-opacity: 0;
    -webkit-color: #fff;
    -webkit-background: none;
    -webkit-width: 100%;
    -webkit-height: 1em;
    -webkit-transition: all .7s;
    font-family: 'Roboto',sans-serif;
}
.body-article-first:hover .div-article-titre,
.body-article-second:hover .div-article-titre{
  opacity: 1;
  bottom: 80%;
  display: flow-root;
  -webkit-opacity: 1;
  -webkit-bottom: 80%;
  -webkit-display: flow-root;
}
.div-article-titre h3{
  border-bottom:5px solid orangered;
  padding: 10px 0px;
  max-height: 1em;
  margin-left: 10%;
  -webkit-border-bottom:5px solid orangered;
  -webkit-padding: 10px 0px;
  -webkit-max-height: 1em;
  -webkit-margin-left: 10%;
  font-weight:bold;
  font-size: 28px;
  letter-spacing: 2px;
  font-family: 'Phetsarath OT',sans-serif;
}
.div-article-titre h6{
  padding: 10px 0px;
  margin-left: 10%;
  -webkit-padding: 10px 0px;
  -webkit-margin-left: 10%;
}
/***************************nnnnnnnnnnnnn   I  nnnnnnnnn*********************/
/***************************nnnnnnnnnnnnn   N  nnnnnnnn*********************/
/***************************nnnnnnnnnnnnn   D  nnnnnnnn*********************/
/***************************nnnnnnnnnnnnn   E  nnnnnnnn*********************/
/***************************nnnnnnnnnnnnn   X  nnnnnnnn*********************/
.body-article-image{
  width: 100%;
  height: 100%;
  -webkit-width: 100%;
  -webkit-height: 100%;
}
.body-article-left{
  width: 30%;
  height: 80vh;
  display: table;
  -webkit-width: 30%;
  -webkit-height: 80vh;
  -webkit-display: table;
}
.body-article-first-left{
  width: 95%;
  height: 38vh;
  -webkit-width: 95%;
  -webkit-height: 38vh;
}
.body-article-second-left{
  width: 95%;
  height: 38vh;
  -webkit-width: 95%;
  -webkit-height: 38vh;
}
.body-article-image2{
  width: 100%;
  height: 100%;
  transition: All .5s !important;
  z-index:10;
  -webkit-width: 100%;
  -webkit-height: 100%;
  -webkit-transition: All .5s !important;
  -webkit-z-index:10;
}
.button-article{
  position: relative !important;
  bottom: 95% !important;
  z-index:10;
  color: #fff;
  background: orangered;
  width: 10em;
  height: 2em;
  border: 0;
  margin-left: 10%;
  -webkit-position: relative !important;
  -webkit-bottom: 95% !important;
  -webkit-z-index:10;
  -webkit-color: #fff;
  -webkit-background: orangered;
  -webkit-width: 10em;
  -webkit-height: 2em;
  -webkit-border: 0;
  -webkit-margin-left: 10%;
  -moz-position: relative !important;
  -moz-bottom: 95% !important;
  -moz-z-index:10;
  -moz-color: #fff;
  -moz-background: orangered;
  -moz-width: 10em;
  -moz-height: 2em;
  -moz-border: 0;
  -moz-margin-left: 10%;
  font-weight:bold;
  font-family: 'Roboto',sans-serif;
}
.div-article-detail{
  position: relative;
  bottom: 25%;
  color: #fff;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 6.5em;
  -webkit-position: relative;
  -webkit-bottom: 25%;
  -webkit-color: #fff;
  -webkit-background: rgba(0,0,0,0.4);
  -webkit-width: 100%;
  -webkit-height: 6.5em;
  -moz-position: relative;
  -moz-bottom: 25%;
  -moz-color: #fff;
  -moz-background: rgba(0,0,0,0.4);
  -moz-width: 100%;
  -moz-height: 6.5em;
}
.div-article-detail h3{
  padding: 10px 10px;
  margin-left: 5%;
  font-weight:700;
  -webkit-padding: 10px 10px;
  -webkit-margin-left: 5%;
  -webkit-font-weight:700;
  -moz-padding: 10px 10px;
  -moz-margin-left: 5%;
  -moz-font-weight:700;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
}
.detail-article{
  width: 100%;
  height: auto;
  display: inline-block;
  background: none;
  text-decoration: none;
  color: none;
  border: 0;
  opacity: 1 !important;
  z-index:10;
  position: relative !important;
  -webkit-width: 100%;
  -webkit-height: auto;
  -webkit-display: inline-block;
  -webkit-background: none;
  -webkit-text-decoration: none;
  -webkit-color: none;
  -webkit-border: 0;
  -webkit-opacity: 1 !important;
  -webkit-z-index:10;
  -webkit-position: relative !important;
  -moz-width: 100%;
  -moz-height: auto;
  -moz-display: inline-block;
  -moz-background: none;
  -moz-text-decoration: none;
  -moz-color: none;
  -moz-border: 0;
  -moz-opacity: 1 !important;
  -moz-z-index:10;
  -moz-position: relative !important;
}
.body-article-first:hover .body-article-image{
  filter:brightness(60%);
  -webkit-filter:brightness(60%);
}
.body-article-second:hover .body-article-image{
  filter:brightness(60%);
  -webkit-filter:brightness(60%);
}
.body-article-first:hover .detail-article{
  bottom: 60%;
  -webkit-bottom: 60%;
}

.div-article-detail-left{
  position: relative;
  bottom: 50%;
  color: #fff;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 6em;
  -webkit-position: relative;
  -webkit-bottom: 50%;
  -webkit-color: #fff;
  -webkit-background: rgba(0,0,0,0.4);
  -webkit-width: 100%;
  -webkit-height: 6em;
}
.div-article-detail-left h3{
  padding: 10px 10px;
  text-align: justify;
  margin-left: 5%;
  font-weight:700;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  -webkit-padding: 10px 10px;
  -webkit-text-align: justify;
  -webkit-margin-left: 5%;
  -webkit-font-weight:700;
  -webkit-font-size: 14px;
  -webkit-font-family: 'Roboto',sans-serif;
}
.body-article-first-left, .body-article-second-left{
  transition: all .5s;
  -webkit-transition: all .5s;
}
.body-article-first-left:hover
,.body-article-second-left:hover{
  animation: none;
  transform: translateY(-15px);
  box-shadow: 0 50px 50px rgba(0,0,0,0.5);
  -webkit-animation: none;
  -webkit-transform: translateY(-15px);
  -webkit-box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}
.body-article-image2:hover{
  filter:brightness(60%);
  -webkit-filter:brightness(60%);
}
.contain-ecran{
  margin: 0;
  padding: 0;
  margin-left: -0.5%;
  width: 101%;
  height: 50em;
  -webkit-margin: 0;
  -webkit-padding: 0;
  -webkit-margin-left: -0.5%;
  -webkit-width: 101%;
  -webkit-height: 50em;
  background: url(1.jpg);
  -webkit-background: url(1.jpg);
  -webkit-background-size: cover;
  -webkit-ackground-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  text-transform: capitalize;
}
.body-container-tutoriel{
  width: 100%;
  height: 35em;
  background:none;
  border: 0px;
  display:inline-flex;
  -webkit-width: 100%;
  -webkit-height: 35em;
  -webkit-background:none;
  -webkit-border: 0px;
  -webkit-display:inline-flex;
}









/***

wWARNING:
supports



*
**/



















.hi-slide{
  position: relative;
  width: 754px;
  height: 292px;
  margin: 115px auto 0;
}
.hi-slide .hi-next,
.hi-slide .hi-prev{
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  color: black;
  transition: all .7s;
  font-size:20px;
  font-weight: bold;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
  opacity: 1;
  background-color: white;
}

.hi-slide .hi-prev{
  left: -70px;
}
.hi-slide .hi-prev::before{
  content: '<';
}
.hi-slide .hi-next{
  right: -70px;
}
.hi-slide .hi-next::before{
  content: '>';
}
.hi-slide > ul{
  list-style: none;
  position: relative;
  width: 754px;
  height: 292px;
  margin: 0;
  padding: 0;

}
.hi-slide > ul > li{
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 377px;
  top:147px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 3px solid #333;
  cursor: pointer;
}
.hi-slide > ul > li > img{
  width: 100%;
  height: 100%;
  background-position: center;
}
